#selected {
    background-color: #aaa;
  }
  
 #main-menu {
     /* border:solid red 1px; */
     padding:10px;
     width: 500px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     position: sticky;
     bottom: 0px;
    }

#img{
    height: 900px;
    width: 1400px;
    background-image: url('/images/1.jpg');
    background-size: cover;
    
}

#slogan {
    color: white;
    font-size:40px;
    width: 450px;
    height: 20px;
    margin-left: 10%;
    margin-top: 15%;
    float: left;
}

  
li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(119, 119, 119);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight:bold
  }
  #title{
    float: left;
    margin-left: 5%;
    color: rgb(119, 119, 119);
    padding: 8px 16px;
    font-weight:bold

}  

